* {
  margin: 0;
  color: #313131;
  text-decoration: none;
}
body {
  background-color: whitesmoke;
}
a,
label,
span,
p {
  font-family: "Lato";
}
/*Navbar style*/
.brif3-main-navbar {
  padding: 2rem 0;
  text-align: center;
  background-color: #313131;
}

.main-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 86%;
  margin: 0 auto;
  padding: 0 20px;
}

.main-nav-brand a {
  font-size: 1.5rem;
  color: #fff;
}

.main-nav-menu {
  display: flex;
  gap: 6rem;
  font-size: 20px;
  color: #fff;
}

.main-nav-menu a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.main-nav-menu .active {
  border-bottom: solid;
  padding-bottom: 6px;
}

.brif3-main-navbar .sub-btn {
  border: 2px solid #fff;
  padding: 1% 2%;
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
}
.brif3-main-navbar .sub-btn:hover {
  border: 2px solid #313131;
  background-color: #181818;
  transition: 0.5s;
}

/* Banner Style*/
.brif3-banner-sec {
  background-image: url(../img/BK.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3% 0;
  display: flex;
  justify-content: center;
}
.brif3-banner-content {
  width: 50%;
}
.brif3-banner-content h1 {
  font-size: 5rem;
  width: 50%;
  font-weight: bold;
  color: #faebd7;
}
.brif3-banner-content p {
  padding-bottom: 10%;
  width: 75%;
  font-size: 1.5rem;
  color: #fff;
}
.brif3-banner-content a {
  border: 2px solid #fff;
  padding: 2% 7%;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.5s;
  color: #fff;
}
.brif3-banner-content a:hover {
  border: 2px solid #313131;
  background-color: #181818;
  transition: 0.5s;
}

.brif3-banner-img img {
  border-radius: 0 0 0 102px;
}
/*collectin style*/
.collection-sec-header {
  text-align: center;
  padding: 2% 0;
  font-size: 4rem;
}
.collection-sec-para {
  text-align: center;
  padding: 0 30%;
}
.collection-items {
  display: flex;
  justify-content: space-evenly;
  padding: 3% 10%;
  flex-wrap: wrap;
}
.centered-text {
  transform: translate(0%, -134%);
  font-size: 24px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-transform: capitalize;
  font-weight: bolder;
}
/*Our Best Product*/
.brif3-ourproduct-sec h2 {
  margin: 5rem 0;
  text-align: center;
  font-size: 4rem;
}
.ourp-item {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.ourp-item img {
  width: 100%;
}
.ourp-container {
  grid-gap: 2rem;

  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.item-content {
  padding: 4%;
  margin-bottom: 5%;
  text-align: left;
}
.item-content i {
  color: #181818;
}
.item-content h3 {
  padding: 2% 0;
}
.item-content .discount {
  color: #ffc0cb;
  text-decoration: line-through;
  padding-right: 3%;
}
.brif3-WPSAUs-sec h2 {
  margin-top: 5rem;
  text-align: center;
  font-size: 4rem;
}
.brif3-WPSAUs-sec .WPSAUs-para {
  text-align: center;
  padding: 1% 30%;
  font-size: 1.2rem;
}

/* carousel style*/
.gallery {
  margin: 5% 0;
}
.gallery-cell {
  width: 40%;
  margin-right: 10px;
  background: #eaeaea;
  counter-increment: gallery-cell;
  text-align: center;
}

/*testi styling*/
.item-card {
  padding: 8% 16%;
  height: 23rem;
}
.item-card .p1 {
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 6%;
}

.item-card .p2 {
  font-size: 1.2rem;
  padding-bottom: 20%;
}
.item-card h4 {
  font-size: 1.3rem;
}
.item-card span {
  font-weight: 900;
}
/*Brands styling*/

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1400px);
  }
}

/*brands styling*/
.slider {
  background: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3360px;
}

.slide {
  height: 100px;
  width: 250px;
}
/* Footer Style*/
.brif3-footer-sec {
  background-color: #1b1b1b;
  padding: 5%;
  text-align: center;
}
.brif3-footer-sec .cprt {
  display: block;
  color: #faebd7;
  font-weight: bold;
}
.tos {
  padding: 1%;
  margin-left: 2%;
}
.tos span:nth-child(1) {
  margin-right: 1%;
}
.tos span:nth-child(2) {
  margin-left: 1%;
}

.brif3-footer-sec .tos span {
  color: #faebd7;
  font-weight: bold;
}
/* catalog page*/
.brif-page-header {
  background-image: url(../img/Group\ 81.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.brif-page-header h1 {
  font-size: 9em;

  color: wheat;

  text-transform: capitalize;
}
.brif-page-header p {
  color: white;
  padding: 1% 24%;
  font-size: 1.4rem;
}
.brif3-catalog-sec {
  text-align: center;
}
.brif3-catalog-sec h2 {
  padding-top: 2%;
  font-size: 7rem;
}
.brif3-catalog-sec p {
  font-size: 1.4rem;
  padding: 1% 0;
}
.sec-catalog-contents {
  padding: 5% 10%;
}
.sec-catalog-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-bottom: 4%;
}
.sec-catalog-items .items img {
  width: 100%;
}
.btn-see-more {
  border: 3px solid black;
  padding: 1% 3%;
  font-weight: 700;
  font-size: 1.8rem;
  transition: 0.5s;
}
.btn-see-more:hover {
  border: 3px solid #fff;
  background-color: #000;
  color: #fff;
  transition: 0.5s;
}
/*sign up stayling*/
.sginup-sec-content {
  padding: 5% 0;
  display: flex;
  justify-content: center;
}
.signup-form {
  padding: 4%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: #ebebeb;
  width: 554px;
}
.signup-form h2 {
  font-size: 2.1rem;
  margin-bottom: 15%;
  text-transform: uppercase;
  font-family: "Lato";
}
.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.signup-form label {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
  padding: 4% 5%;
  margin-top: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  width: 90%;
  background-color: #d9d9d9;
}

.signup-form button {
  background-color: #363636;
  color: white;
  padding: 22px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.5s;
  width: 100%;
}

.signup-form button:hover {
  background-color: #000000;
  transition: 0.5s;
}
/*mobile menu*/

.brif3-mobile-menu {
  display: none;
  background-color: #333;
  padding: 10px;
  text-align: center;
}

.brif3-menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.brif3-dropdown-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 46px;
  right: 0;
  background-color: #2a2a2a;
  padding: 9% 0;
  width: 100%;
}
.brif3-mobile-menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.brif3-mobile-menu .brif3-dropdown-menu a {
  padding: 34px;
}

.brif3-dropdown {
  position: relative;
  display: inline-block;
}

.brif3-dropbtn {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.brif3-dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* FAQ styling */
.faq-container {
  margin: 0 auto;
  padding: 40px;

  width: 80%;
  text-align: center;
}
.faq-container h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2%;
}
.faq-item {
  margin-bottom: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.question {
  color: #3e3e3e;
  background-color: #d9d9d9;
  padding: 1%;
}

.answer {
  color: #000000;
  background-color: #c2c2c2;
  padding: 1%;
  width: 97%;
  display: none;
}
